@media (max-width: 768px) {

    .section-content{
        grid-template-columns: repeat(2, 1fr);

        margin: 2em 0em;
    }

    .content-wrapper{
        margin: 0.75em;
    }

    .aside-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
    }

    .aside-section .ctg-title{
        grid-column: 1;
    }
}