.headingContainer {
  align-items: flex-start;

  max-width: 1316px;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "heading heading heading"
    "desc desc ."
    "tabs tabs tabs"
  ;
  row-gap: 8px;
  column-gap: 20px;
  padding: 120px 70px;

  h1 {
    font-size: 96px;
    grid-area: heading;
    color: hsl(240, 10%, 94%);
  }

  p {
    font-size: 36px;
    grid-area: desc;

    padding-right: 10%;

    color: hsl(240, 10%, 70%);
  }

  ul {
    margin-top: 4rem;

    display: flex;
    align-items: flex-start;
    gap: 50px;
    grid-area: tabs;

    a {
      font-size: 24px;

      padding: 8px;

      color: hsl(240, 10%, 70%);
      // color: hsl(240, 10%, 18%);
      text-transform: capitalize;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}

.postsContainer {
  // max-width: calc((590 * 2 + 590) * 1px);
  max-width: calc(1316px + 140px);
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  gap: 120px 20px;

  padding: 120px 70px;
  padding-top: 0px;

  .post {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 590px;

    .postImage {
      width: 590px;
      height: 530px;

      background: gray;
      filter: brightness(0.8);
    }

    span {
      font-size: 24px;
      color: hsl(240, 10%, 50%)
    }

    h4 {
      font-size: 32px;
    }

    &:hover, &:focus {
      .postImage {
        filter: brightness(1.1);
      }
    }

    @media screen and (max-width: 1359px) {
      width: 100%;

      .postImage {
        width: 100%;
      }
    }
  }
}