* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  width: 100vw;
  height: 100%;
  font-weight: 400;
  font-family: "Roboto Slab", sans-serif;
}

.light {
  --white: #fafafa;
  --black: #888888;

  --gray-50: hsl(0, 0%, 80%);
  --gray-100: hsl(0, 0%, 70%);
  --gray-200: hsl(0, 0%, 60%);
  --gray-300: hsl(0, 0%, 50%);
  --gray-400: hsl(0, 0%, 40%);
  --gray-500: hsl(450, 0%, 30%);
  --gray-600: hsl(450, 0%, 20%);
  --gray-700: hsl(450, 0%, 10%);
}